<div flat-info>
  <div class="flat-img">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class:"" %>
  </div>
  <div class="gitname">
    <p><%= owner %></p>
  </div>
  <div class="info">
    <p><%= flat.description %></p>
    <p><%= flat.city_name %></p>
  </div>
  <div class="flat-rating"></div>
  <p><%= flat.rating %></p>

</div>
</div>
